.ant-picker-time-panel {
  border-radius: 8px;
}

.ant-picker-time-panel-column {
  border-radius: 4px;
}

.ant-picker-time-panel-cell-inner {
  border-radius: 4px;
}

.ant-picker-dropdown {
  border-radius: 8px;
}
