.pageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  width: 96%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.contentWrapper {
  width: 96%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filterSection {
  margin-top: 30px;
}

.tableSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 0;
}

.tableContainer {
  width: 100%;
  height: 100%;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  text-align: center;
}
