.createClientPage {
  padding: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pageWrapper {
  width: 100%;
}

.cardHeader {
  text-align: start;
  margin-bottom: 24px;

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    color: rgba(29, 53, 87, 1);
    line-height: 100%;
  }

  p {
    font-size: 16px;
    color: rgba(108, 117, 125, 1);
    margin: 0;
  }
}

.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 60px;
  padding: 20px 0;
}

.optionCard {
  border: 2px dashed;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 263px;
  height: 137px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.iconWrapper {
  margin-bottom: 13px;
}

.icon {
  font-size: 48px;
}

.optionText {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: rgba(29, 53, 87, 1);
}
