.fileAttachment {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fbfcff;
  width: fit-content;
  &:hover {
    border-color: #1890ff;
    background-color: #f5f5f5;
  }
}

.fileIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.fileInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 0;
  min-width: 0;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.fileSize {
  font-size: 12px;
}

.imageModal {
  :global(.ant-modal-content) {
    padding: 0;
    overflow: hidden;
  }

  :global(.ant-modal-body) {
    padding: 0;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  max-height: 90vh;
  max-width: 90vw;
}

.modalImage {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}
