.radioGroupWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 37, 41, 1);
  text-align: left;
}

.radioGroup {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(33, 37, 41, 1);

  &.horizontal {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
