.customTable {
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

.customTable .ant-table {
  border-radius: 8px;
  border: none;
}

.customTable .ant-table-container {
  border: none;
}

.customTable .ant-table-thead > tr > th {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(33, 37, 41, 1);
  background: #ffffff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.customTable .ant-table-tbody > tr > td {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 37, 41, 1);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

.customTable .ant-table-tbody > tr:hover > td {
  background: rgba(243, 244, 246, 1);
}
