@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
}

.floatAnimation {
  animation: float 2s ease-in-out infinite;
}

.container {
  position: relative;
}

.iconCircle {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 0.5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 700;
  color: white;
}

.line {
  width: 10px;
  height: 1px;
  background-color: rgb(212, 216, 221);
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 4px;
}
