.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.subtitle {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(134, 142, 150, 1);
  margin: 0;
  margin-top: 12px;
  text-align: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
