.authLayout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;

  .leftSection {
    width: 600px;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;

    .imageContainer {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;

      .authImage {
        object-fit: contain;
        width: 90% !important;
        height: auto !important;
        position: relative !important;
      }
    }
  }

  .rightSection {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #ffffff;
    position: relative;

    .formContainer {
      width: 100%;
      max-width: 480px;
    }

    .authBottomText {
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 11px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: rgba(108, 117, 125, 1);
      margin-top: 24px;
      position: absolute;
      bottom: 24px;
      left: 47%;
      transform: translateX(-50%);
      max-width: 480px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .termsHighlight {
        color: rgba(29, 53, 87, 1);
      }
    }
  }
}

// Responsive design
@media (max-width: 968px) {
  .authLayout {
    justify-content: center;

    .leftSection {
      display: none;
    }

    .rightSection {
      width: 100%;
      padding: 24px;

      .formContainer {
        display: flex;
        justify-content: center;
      }

      .authBottomText {
        left: 50%;
      }
    }
  }
}

// Small screens
@media (max-width: 640px) {
  .authLayout {
    .rightSection {
      padding: 20px;
    }
  }
}
