.modal {
  :global(.ant-modal-header) {
    text-align: center;
    padding-top: 15px;
  }

  :global(.ant-modal-title) {
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(33, 37, 41, 1);
  }

  :global(.ant-modal-body) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  :global(.ant-modal-footer) {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    border-top: none !important;
  }
}

.footerButton {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 44px;
}

.content {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(108, 117, 125, 1);
}
