.profileHeader {
  border-radius: 10px;
  border: 1px solid rgba(224, 230, 243, 0.5);
  padding: 0;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.background {
  height: 86px;
  background: linear-gradient(
    90deg,
    #1d3557 0%,
    #506fa3d0 40%,
    #a9b8d2e8 85%,
    #ffffff 100%
  );
  border-radius: 8px;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 0 0 0 132px;
  position: relative;
}

.avatarContainer {
  position: absolute;
  transform: translate(0, -60%);
  left: 28px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: #d9d9d9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatarPlaceholder {
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 8px;
  margin-top: 30px;
}

.nameRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin: 0;
  line-height: 1.2;
}

.username {
  font-size: 14px;
  color: #607197 !important;
  margin: 0;
  line-height: 1.2;
}

.statusTag {
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  padding: 3px 10px;
  border-radius: 22px;
  background-color: #15c7a71a;
  color: #15c7a7;
}

.editButton {
  height: 32px;
  font-size: 12px;
  font-weight: 700;
  padding: 0 16px;
  margin-bottom: 10px;
}

.svgEmpty {
  display: flex;
  justify-content: center;
}

.ant-tag {
  position: absolute !important;
}
