.progressContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progressText {
  font-size: 11px;
  font-weight: 600;
  color: #262626;
}

.rightLabel {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  min-width: 40px;
}

.whiteText {
  color: #ffffff;
}
