.selectTag {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: auto;
  border-radius: 14px;
  padding: 8px 16px;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: default;
  transition: all 0.2s;

  &.default {
    background-color: rgba(45, 108, 223, 0.1);
    color: rgba(45, 108, 223, 1);
    border: 1px solid transparent;
  }

  &.primary {
    background-color: rgba(29, 53, 87, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(29, 53, 87, 1);
  }

  &.action {
    background-color: rgba(45, 108, 223, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(45, 108, 223, 1);
  }
}

.text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeIcon {
  font-size: 12px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}
