.checkboxWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(33, 37, 41, 1);
  text-align: left;
}

.checkbox {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(33, 37, 41, 1);
}
