.pageTabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global(.ant-tabs-nav) {
    margin-bottom: 0;
    padding: 12px 0;
  }

  :global(.ant-tabs-content-holder) {
    flex: 1;
    overflow: auto;
  }

  :global(.ant-tabs-content) {
    height: 100%;
  }

  :global(.ant-tabs-tabpane) {
    height: 100%;
  }

  :global(.ant-tabs-tab) {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #6c757d;
    transition: color 0.3s;

    &:hover {
      color: #1d3557;
    }
  }

  :global(.ant-tabs-tab-active) {
    :global(.ant-tabs-tab-btn) {
      color: #1d3557;
    }
  }

  :global(.ant-tabs-ink-bar) {
    background-color: #1d3557;
  }
}
